<div>
	<x-ponyup-topbar></x-ponyup-topbar>
	<div class="contents">
        <div class="row">
            <h2>Image Capture</h2>
            <div class="row fieldset info" ng-show="hasGetUserMedia && !setupComplete && !cameraError && !cameraDenied">
                <span>
                    Please allow access to your camera. If you do not want the site to access your camera, you can deny
                    access and upload an image instead.
                </span>
            </div>
            <div class="row fieldset error" ng-show="cameraError">
                <span>There was an error accessing your camera: {{cameraErrorMsg}}</span>
            </div>
            <div class="row fieldset error" ng-show="cameraDenied && !pictureUploaded">
                <span>Camera access denied. You can upload an image below or go back to enter data manually.</span>
            </div>
            <div class="row fieldset" id="step1"
                 ng-show="!pictureTaken && setupComplete || ((cameraError || cameraDenied) && !pictureUploaded)">
                <div id="upload" ng-show="cameraError || cameraDenied">
                    <h3 class="left">Upload Image</h3>
                    <span class="left" style="text-align: left">
                        Upload an image of the horse's information from the racing program. Make sure the image
                        includes the horse's name, jockey's win percentage, and the horse's past performances.
                    </span>
                    <input type="file" capture="camera" accept="image/*"
                           onchange="angular.element(this).scope().imageUpload(this.files)"
                           ng-show="!hasGetUserMedia || cameraError || cameraDenied && !pictureUploaded">
                </div>
                <div id="takePicture" ng-show="hasGetUserMedia && !pictureTaken && !cameraDenied">
                    <h3 class="left">Take Picture</h3>
                    <span class="left" style="text-align: left">
                        Take a picture of the horse's information from the racing program. Make sure the picture includes
                        the horse's name and past performances, as well as the jockey's win percentage.
                    </span>
                    <figure class="not-ready">
                        <video autoplay></video>
                    </figure>
                    <a ng-click="takePicture()" class="button radius">
                        <img class="small-img" src="img/camera_white.png" style="width: 2rem">
                    </a>
                </div>
            </div>
            <div class="row fieldset" id="step2" ng-show="pictureTaken || pictureUploaded">
                <h3 ng-show="!pictureAccepted">How does this look?</h3>
                <h3 ng-show="horseNameSelect">Crop out the horse's name.</h3>
                <figure class="container">
                    <canvas style="display: none"></canvas>
                    <img id="picStep2" src=""/>
                </figure>
                <a href="" ng-click="acceptPicture()" class="button radius" ng-hide="pictureAccepted">Use This Image</a>
                <a href="" ng-click="retake()" ng-hide="pictureUploaded || pictureAccepted"
                   class="button radius">Retake</a>
                <a href="" ng-click="reupload()" ng-show="pictureUploaded && !pictureAccepted"
                   class="button radius">Choose Another</a>
                <div class="row button-group" ng-show="pictureAccepted">
                    <button type="button" class="button radius" ng-click="cropper('zoom', 0.1)">
                        <i class="fa fa-search-plus fa-lg"></i>
                    </button>
                    <button type="button" class="button radius" ng-click="cropper('zoom', -0.1)">
                        <i class="fa fa-search-minus fa-lg"></i>
                    </button>
                    <button type="button" class="button radius" ng-click="cropper('rotate', -5)">
                        <i class="fa fa-rotate-left fa-lg"></i>
                    </button>
                    <button type="button" class="button radius" ng-click="cropper('rotate', 5)">
                        <i class="fa fa-rotate-right fa-lg"></i>
                    </button>
                </div>
                <div class="row" ng-show="pictureAccepted">
                    <button type="button" class="button radius" ng-click="crop()">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
