<div>
	<x-ponyup-topbar></x-ponyup-topbar>
	<div class="contents">
		<div class="row">
			<h2>#{{horse.id}} - {{horse.name}}'s Race History</h2>
            <form name="mainForm" data-main-form>
                <div class="row fieldset" ng-repeat="race in selectedHorse.history">
                    <ng-form name="form" data-child-form>
                        <div class="row">
                            <img class="small-img" src="img/race.png"/>
                            <h4>Race #{{race.id}}</h4>
                        </div>
                        <div class="row">
                            <div class="small-3 medium-3 large-3 columns">
                                <label for="race_{{race.id}}_dist">Distance:</label>
                                <input id="race_{{race.id}}_dist" name="distance" type="text" ng-model="race.distance" ng-class="{error: form.distance.$invalid}" required ng-pattern="/^\d+\.?\d*$/"/>
                                <small class="error" ng-show="form.distance.$error.required">Enter distance</small>
                                <small class="error" ng-show="form.distance.$error.pattern">Not a valid number</small>
                            </div>
                            <div class="small-9 medium-9 large-2 columns">
                                <label for="race_{{race.id}}_dist_type">Measured In:</label>
                                <select id="race_{{race.id}}_dist_type" name="dist_type" ng-model="race.dist_type" ng-options="opt.abbr as opt.name for opt in distTypeOptions" ng-class="{error: form.dist_type.$invalid}" required>
                                </select>
                                <small class="error" ng-show="form.dist_type.$error.required">Select one</small>
                            </div>
                            <div class="small-6 medium-4 large-2 columns">
                                <label for="race_{{race.id}}_pos">Place:</label>
                                <input id="race_{{race.id}}_pos" type="text" ng-model="race.pos"/>
                            </div>
                            <div class="small-6 medium-4 large-3 columns">
                                <label for="race_{{race.id}}_behind">Lengths Behind:</label>
                                <input id="race_{{race.id}}_behind" name="behind" type="text" ng-model="race.behind" required ng-class="{error: form.behind.$invalid}" ng-pattern="/^\d+\.?\d*$/"/>
                                <small class="error" ng-show="form.behind.$error.required">Enter lengths behind</small>
                                <small class="error" ng-show="form.behind.$error.pattern">Not a valid number</small>
                            </div>
                            <div class="small-12 medium-4 large-2 columns">
                                <label for="race_{{race.id}}_winTime">Winning Time:</label>
                                <input id="race_{{race.id}}_winTime" type="text" name="winTime" ng-model="race.winTime" required ng-class="{error: form.winTime.$invalid}" ng-pattern="/^\d+\.?\d*$/"/>
                                <small class="error" ng-show="form.winTime.$error.required">Enter winning time</small>
                                <small class="error" ng-show="form.winTime.$error.pattern">Not a valid number</small>
                            </div>
                        </div>
                    </ng-form>
                </div>
                <div class="row">
                    <a ng-click="addRace()" class="button radius">Add Race</a>
                    <a ng-click="save()" class="button radius" ng-disabled="mainForm.$invalid">Save</a>
                </div>
            </form>
		</div>
	</div>
</div>
